<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
        <div *ngFor="let egreso of egresos" class="elemento limpiarEstilos" >
            <div class="elemento_descripcion">{{egreso.descripcion}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">- {{egreso.valor| currency: 'ARS':'$': '1.2-2'}}</div> <!--Pipes currency(moneda): 'USD'(tipo moneda):'$'(simbolo moneda): '1.2-2'(maneja 1 decimal(1), va a tener cpmp miniomo 2 decimales (2-) y maximo 2 decimales(2)), sirve con monedas, horario, fechas, etc -->
                <div class="elemento_porcentaje">{{calcularPorcentaje(egreso) | percent}}</div>
                <div class="elemento_eliminar">
                    <button class="elemento_eliminar--btn"><i class="ion-ios-close-outline" (click)="eliminarRegistro(egreso)"></i></button>
                </div>
            </div>
        </div>

      
</div>

